<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Business Interactive</a>
			</div>
		</div>
	</div>
	<div class="container">
		@RenderBody()
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/signalr")
	@Scripts.Render("/signalr/hubs")
	@Scripts.Render("~/bundles/application")
	@RenderSection("scripts", required: false)
</body>
</html>
